.Calculator {
  max-width: 768px;
  margin: auto;
}

.Calculator-input {
  box-sizing: border-box;
  width: 100%;
  height: 5rem;
  font-size: 3rem;
  border-radius: 0;
  border: 3px solid lightslategray;
  padding: 0.25rem;
  margin: 0;
}

.Calculator-input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.Calculator-row {
  width: 100%;
  height: 6rem;
}

.Calculator-button {
  border: 3px solid lightslategray;
  width: 25%;
  height: 100%;
  box-sizing: border-box;
  float: left;
  background: darkslategray;
  color: white;
  padding: 1rem;
  font-size: 2.5rem;
  user-select: none;
}

.Calculator-button-large {
  width: 50%;
}